@tailwind base;
@tailwind components;
@tailwind utilities;

/* #2e51ed */

html {
  scroll-behavior: smooth;
  /* font-family: "Georgia", sans-serif; */
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h2 {
    font-family: "Gilroy-Bold", sans-serif;
  }

  h3,
  h4,
  h5,
  h6,
  p,
  span {
    font-family: "Gilroy-Medium", sans-serif;
  }

  h1 {
    @apply font-extrabold;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 p-2 rounded-xl uppercase text-white bg-[#00a78e] hover:bg-[#FB923C];
  }
}

.intro {
  background: linear-gradient(to right, #f32170, #ff6b08, #00a78e, #eedd44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

input {
  border: none;
  outline: none;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid #00a78e;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #ff6b08;
  transition: 2s;
}

input:focus::placeholder {
  transform: translate(0, -100%);
  font-size: 0.8em;
  opacity: 1;
}

textarea:focus::placeholder {
  transform: translate(0, -60%);
  font-size: 0.8em;
  opacity: 1;
}

#home {
  background-image: url("../public/assets/background/main-bg2.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
}

.profile-pic {
  background-color: #ffe6cf;
    /* background-color: #ff6b08; */

  /* padding-left: 15px; */
  box-shadow: -10px 10px #00a78e;
}

@media (min-height: 1365px) {
  #home {
    height: 70vh;
    max-height: 70vh;
    /* margin-top: -6rem; */
  }

  .home-wrapper {
    margin-top: -6rem;
  }

  .about-container {
    margin-top: -12rem;
  }
}

@media (max-width: 913px) {
  #home {
    background-image: url("../public/assets/background/main-sm-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
