@tailwind base;
@tailwind components;
@tailwind utilities; 


html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 


@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }
  
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase text-white bg-[#00a78e] hover:bg-[#FB923C] 
  }

.let-us {
 background: linear-gradient(to right, #f32170,
                    #ff6b08, #00a78e, #eedd44);
                    background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  }
}

/* Media Queries  */

  @media(max-width: 321px) {
    .myname{
font-size: 18px;
    }
  }

