/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

/* CSS HEX */
/* former bg bg-[#ecf0f3] */
/*  text-blue 200, link-icons:text-blue-500  text-blue-700 yellow- #eedd44,
--woodsmoke: #111214;
--port-gore: #191939;x
--mirage: #151527;  2
--cloud-burst: #1c2448; x

/* 
--governor-bay: #312fb9;  light purple
--blue-ribbon: #3844f9;  bluish purple
--madison: #0c2569;   dark blue
--thunder: #1c141b; very dark purple
--port-gore: #2c1c4c;  mid purple */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply text-[#1f2937] tracking-wide;
  }

  h1,
  h2 {
    font-family: "Gilroy-Bold", sans-serif;
  }

  h3,
  h4,
  h5,
  a {
    font-family: "Gilroy-Medium", sans-serif;
  }

  h6,
  p {
    font-family: "Gilroy-Regular", sans-serif;
  }

  span {
    font-family: "Gilroy-Light", sans-serif;
  }

  h1 {
    @apply font-extrabold;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-lg shadow-gray-400 p-2 rounded-xl uppercase text-white bg-[#312fb9] hover:bg-[#FB923C];
  }
}

#home {
  background-image: url("/assets/background/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.developer {
  text-shadow: 1px 1px #312fb9, 0 0 0.5em white;
}

.coder-bg {
  max-width: none;
}

input {
  border: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  color: black;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 300;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid blueviolet;
  background-color: #333;
  outline: none;
  color: white;
  font-weight: 300;
  font-family: "Gilroy-Regular", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #ff6b08;
  transition: 2s;
}

input:focus::placeholder {
  transform: translate(0, -100%);
  font-size: 0.8em;
  opacity: 1;
}

textarea:focus::placeholder {
  transform: translate(0, -60%);
  font-size: 0.8em;
  opacity: 1;
}

/* Style the caret color */
input[type="text"]::selection {
  color: #333; /* Selection text color */
}

.profile-pic {
  background-color: #ffe6cf;
  box-shadow: -6px 8px #3844f9;
}

@keyframes neon {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.create-solutions {
  background: linear-gradient(90deg, #3844f9, #ff6b08, #312fb9, #3844f9);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: neon 5s linear infinite;
  text-align: center;
  display: inline-block;
}

.stylish-borders {
  position: relative;
  padding: 5px;
}

.stylish-borders::before,
.stylish-borders::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background: #3844f9;
}

.stylish-borders::before {
  top: 0;
  left: 0;
  width: 50px; /* Horizontal border length */
  height: 5px; /* Horizontal border thickness */
  border-top: 5px solid #3844f9;
  border-left: 5px solid #3844f9;
}

.stylish-borders::after {
  bottom: 0;
  right: 0;
  border-bottom: 5px solid #3844f9;
  border-right: 5px solid #3844f9;
}


@media (min-height: 1365px) {
  #home {
    height: 70vh;
    max-height: 70vh;
  }

  .home-wrapper {
    margin-top: -6rem;
  }

  .about-container {
    margin-top: -12rem;
  }
}
